#box-container {
    height: 500px;
    display: flex;
}

#box-1 {
    width: 50%;
    height: 50%;
    background-color: chartreuse;
}

#box-2 {
    width: 50%;
    height: 50%;
    background-color: darkblue;
}