body {
    font-family: monospace;
    color: black;
    background-color: #ccc;
}

p {
    font-size: 18px;
}

.larger-image {
    width: 500px;
}

h1 {
    font-family: 'PT Serif', serif;
    font-family: 'Yeon Sung', cursive;
    color: brown;
    text-align: center;
}

#circular-image {
    border-color: green;
    border-style: groove;
    border-width: 10px;
    border-radius: 50%;
}

#main-form {
    background-color: chartreuse;
    color: black;
    margin-top: 20px;
    padding: 15px;
}

#main-form input, button {
    margin-top: 5px;
    padding: 10px;
}

[type="checkbox"], [type="radio"] {
    margin: 10px 0px 15px 0px;
}

