body {
    font-family: sans-serif;
    color: black;
    background-color: #ccc;
    border: 1px gray solid;
    padding: 10px;
    border-radius: 5px;
}

p {
    font-size: 18px;
}

.external-link {
    text-decoration: none;
}

.internal-link {
    color: green;
}

.larger-image {
    width: 50%;
}

h1 {
    font-family: 'Yeon Sung', cursive; /* The imported Google custom font */
    font-family: 'PT Serif', serif;
    color: brown;
    text-align: center;
}

#circular-image {
    border-color: rgb(236, 11, 11);
    border-style: outset;
    border-width: 5px;
    border-radius: 50%;
}

#main-form {
    background-color: rgb(245, 151, 9);
    color: black;
    margin-top: 20px;
    padding: 15px;
}

#main-form input, button {
    margin-top: 5px;
    padding: 10px;
}

[type="checkbox"], [type="radio"] {
    margin: 10px 0px 15px 0px;
}

