body {
    background-color: black;
}

h2 {
    font-family: monospace;
    color: white;
    text-align: right;
    opacity: 0.5;
}

.balls {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
    position: fixed;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#ball-1 {
    left: 15%;
    animation-timing-function: ease-out; /* quick in the beginning then slow down*/
}

#ball-2 {
    left: 25%;
    animation-timing-function: linear; /* applies a constant animation speed throughout*/
}

#ball-3 {
    left: 35%;
    animation-timing-function: ease-in; /* slow in the beginning then speeds up at the end*/
}

#ball-4 {
    left: 45%;
    animation-timing-function: ease-in-out;
}

#ball-5 {
    left: 55%;
    animation-timing-function: ease; /* start slow, speed up in the middle and slow down at end*/
}

@keyframes bounce {
    0%{
        top: 0px;
    }

    50% {
        top: 400px;
    }

    100% {
        top: 0px;
    }
}