.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    background: linear-gradient(35deg, purple, pink);
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    0% {
        top: 0px;
    }

    50% {
        top: 245px;
        width: 130px;
        height: 70px;
    }

    100% {
        top: 0px;
    }
}
