body {
    background-color: whitesmoke;
    font-family: monospace;
    opacity: 0.7;
}

h4 {
    /* text-align: left;  default */
    text-align: right;
    text-align: center;
    height: 25px;
    padding: 10px;
    background-color: rgba(45, 45, 45, 0.2);
    font-size: 27px;
    font-weight: 1000;
    text-transform: capitalize;
}

p {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
}

#thumbnail {
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.19), 2px -6px 6px 3px rgba(0, 0, 0, 0.23);
}

.full-card {
    border: 1px gray solid;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px;
    /* width: 80%; */
    width: 400px;
    height: auto;
}

@media (max-width:768px){
    .full-card {
        width: 245px;
    }
}

.card-content {
    padding: 10px;
}

.card-links {
    text-align: right;
}

.links {
    margin-right: 20px;
    opacity: 0.7;
}

a {
    color: black;
}

a:hover {
    color: blue;
    background: rgba(45, 45, 45, 0.1);
    text-decoration: none;
    padding: 5px;
}