body {
    background-color: whitesmoke;
    font-family: monospace;
}

h4 {
    text-align: center;
}

p {
    text-align: justify;
}

.full-card {
    border: 1px gray solid;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px;
}

.card-content {
    padding: 10px;
}

.card-links {
    text-align: right;
}

.links {
    margin-right: 20px;
}