body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: cyan;
    color: #ffffff;
    padding: 0.5em;
}
h2 {
    color: cyan;
}

button {
    padding: 10px;
    background-color: blueviolet;
    border: none;
}

footer {
    text-align: center;
    background-color: cyan;
    color: #ffffff;
    padding: 0.5em;
    margin-top: 30px;
}