body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5em;
}

header {
    text-align: center;
    background-color: green;
    color: #ffffff;
    padding: 0.5em;
}
h2 {
    color: green;
}

button {
    padding: 10px;
    background-color: magenta;
    border: none;
}

footer {
    text-align: center;
    background-color: green;
    color: #ffffff;
    padding: 0.5em;
    margin-top: 30px;
}