body {
    font-family: monospace;
    background-color: black;
    color: white;
}

.center {
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 15px 5px 0 0 blue;
}