body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 150vh;
}

nav ul {
    margin: 0;
    padding: 5px 0 10px 0;
}

nav ul li {
    display: inline;
    padding: 10px;
}

#nav-bar {
    margin: auto;
    padding: 10px;
    width: 100%;
    background-color: rgba(192, 192, 192, 1);
    position: fixed;
    top: 0px;
    left: 0px;
}

a {
    text-decoration: none;
    text-transform: lowercase;
}

h1 {
    margin-top: 80px;
}