body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 150vh;
}

nav ul {
    margin: 0;
    padding: 5px 0 10px 30px;
}

nav ul li {
    display: inline;
    padding: 20px;
    margin-right: 25px;
}

#nav-bar {
    margin: auto;
    width: 100%;
    background-color: #ccc;
    position: fixed;
    top: 0px;
    left: 0px;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 50px;
}