body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#left {
    float: left;
    width: 25%;
    background-color: #ccf;
    padding: 10px;
}

#right {
    float: right;
    width: 70%;
    background-color: rgb(156, 156, 223);
    padding: 10px;
}