.backdiv {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation-name: backdiv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.heart {
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: crimson;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.heart::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;
    top: -25px;
    left: 0px;
}

.heart::after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;
    top: 0px;
    left: 25px;
}

@keyframes backdiv {
    50% {
        background-color: pink;
    }
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }

    50% {
        transform: scale(0.6) rotate(-45deg);
    }
}