.heart {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: crimson;
    width: 50px;
    height: 50px;
    transform: rotate(135deg);
    /* transform: rotate(-45deg); upright heart  */
}

.heart::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    background-color: crimson;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.heart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    background-color: crimson;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}