body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    border-radius: 20px;
    margin: 50px auto;
    width: 50%;
    height: 500px;
    padding: 5px;
}

.injected-text {
    margin-bottom: -500px;
}

.vertical {
    background: linear-gradient(90deg, #04f7f7, #e20909);
}

.back-slash {
    background: linear-gradient(45deg, hsl(12, 100%, 50%), hsl(150, 97%, 14%));
}

.horizontal {
    background: linear-gradient(180deg, hsl(240, 100%, 50%), hsl(300, 100%, 50%));
}

.sixty {
    background: linear-gradient(60deg, rgb(6, 231, 231), rgb(143, 6, 143));
}

.thirty {
    background: linear-gradient(30deg, brown, rgb(56, 8, 231));
}

.one-twenty {
    background: linear-gradient(120deg, green, yellow, blue);
}