div {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 50px auto;
    position: absolute;
    padding: 30px;
}

.one {
    background-color: indigo;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    animation-name: first;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.two {
    background-color: salmon;
    top: 50px;
    left: 50px;
    bottom: 0px;
    right: 0px;
    animation-name: second;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.three {
    background-color: turquoise;
    top: 100px;
    left: 100px;
    bottom: 0px;
    right: 0px;
    animation-name: third;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes first {
    0% {
        z-index: 3;
    }

    50% {
        z-index: 1;
    }

    100% {
        z-index: 2;
    }
}

@keyframes second {
    0% {
        z-index: 2;
    }

    50% {
        z-index: 3;
    }

    100% {
        z-index: 1;
    }
}

@keyframes third {
    0% {
        z-index: 1;
    }

    50% {
        z-index: 2;
    }

    100% {
        z-index: 3;
    }
}