body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto;
    border: 5px #ccc inset;
    padding: 10px;
    height: 90vh;
    position: relative;
}

h2 {
    top: 100px;
    left: 30%;
}

.container p {
    top: 150px;
}

h1 { 
    left: 25px;
    bottom: 5px;
}


#search-box {
    position: absolute;
    top: 50px;
    right: 30px;
}

button {
    padding: 5px;
    border-radius: 5px;
}

input {
    padding: 5px;
}
