body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto;
    border: 5px #ccc inset;
    padding: 10px;
    height: 90%;
}

h2 {
    position: relative;
    top: 50px;
}

h1 { 
    position: relative;
    left: 25px;
    bottom: 20px;
}

.positioned {
    width: 500px;
    height: 250px;
    margin-top: 20px;
    position: relative;
}

#search-box {
    position: absolute;
    top: 50px;
    right: 50px;
}