div {
    margin: 50px auto;
    border-radius: 20px;
    width: 70%;
    height: 400px;
}

.one {
    background: repeating-linear-gradient(
        90deg,
        yellow 0px,
        yellow 40px,
        black 40px,
        black 80px
    );
}

.two {
    background: repeating-linear-gradient(
        45deg,
        yellow 0px,
        yellow 40px,
        black 40px,
        black 80px
    );
}

.three {
    background: repeating-linear-gradient(
        180deg,
        yellow 0px,
        yellow 40px,
        black 40px,
        black 80px
    );
}

.four {
    background: repeating-linear-gradient(
        135deg,
        cyan 0px,
        cyan 50px,
        purple 50px,
        purple 100px
    );
}

.five {
    background: repeating-linear-gradient(
        15deg,
        red 0%,
        red 25%,
        black 25%,
        black 50%,
        green  50%,
        green 75%,
        blue 75%,
        blue 100%
    );
}