div {
    width: 50%;
    height: 100px;
    margin: 200px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    animation-name: rainbow-colors;
    animation-duration: 8s;
    animation-fill-mode: backwards;
    background-color: gray;
}


@keyframes rainbow-colors {
    14% {
        background-color: red;
    }

    28% { 
        background-color: orange;
    }

    42% {
        background-color: yellow;
    }

    56% {
        background-color: green;
    }

    70% {
        background-color: blue;
    }

    84% {
        background-color: indigo;
    }

    100% {
        background-color: violet;
    }
}

div:hover {
    animation-name: hovering;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
}

@keyframes hovering {
    50% {
        background-color: cyan;
        transform: rotate(15deg) scale(0.8);
    }

    100% {
        background-color: blue;
        transform: rotate(-15deg);
    }
}

p {
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}