div {
    width: 50%;
    height: 100px;
    margin: 200px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    animation-name: colorful;
    animation-duration: 10s;
    animation-fill-mode: backwards;
    background-color: gray;
}

div:hover {
    animation-name: hovering;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes colorful {
    0% {
        background-color: yellowgreen;
    }

    25% { 
        background-color: black;
        color: wheat;
    }

    50% {
        background-color: teal;
    }

    100% {
        background-color: yellow;
    }
}

@keyframes hovering {
    50% {
        background-color: cyan;
        transform: rotate(15deg) scale(0.5);
    }

    100% {
        background-color: blue;
        transform: rotate(-15deg);
    }
}

p {
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}