body {
    text-align: center;
    font-family: sans-serif;
}

div {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.orange {
    background-color: #ff7f00;
}

.cyan {
    background-color: #00ffff;
}

.raspberry {
    background-color: #ff007f;
}