body {
    background: url("../img/subtle_patterns/type.png");
    background: url("../img/subtle_patterns/repeated-square-dark.png");
    background: url("../img/subtle_patterns/double-bubble-dark.png");
    background: url("../img/subtle_patterns/oriental-tiles.png");
    background: url("../img/subtle_patterns/watercolor.png");
    color: white;
    color: black;
    font-family: sans-serif;
}