body {
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

div {
    width: 16vw;
    height: 80vh;
    display: inline-block;
}

p {
    padding: 10px;
}

.orange {
    background-color: orange;
    background-color: #ffa500;
}

.rose {
    background-color: #ff007f;
}

.violet {
    background-color: violet;
    background-color: #EE82EE;
}

.azure {
    background-color: azure;
    background-color: #007fff;
}

.spring-green {
    background-color: springgreen;
    background-color: #00ff7f;
}

.chartreuse-green {
    background-color: chartreuse;
    background-color: #7fff00;
}
