body {
    font-family: sans-serif;
}

.container {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

.justify-text {
    text-align: justify;
}

.center-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

.left-align-text {
    text-align: left;
}