body {
    font-family: sans-serif;
}

.positive {
    transform: skewX(22deg);
}

.negative {
    transform: skewX(-34deg);
}

.positive-y {
    position: absolute;
    bottom: 100px;
    transform: skewY(10deg);
    color: red;
}

.negative-y {
    position: absolute;
    bottom: 100px;
    transform: skewY(-20deg);
    color: red;
}