.back {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

.star {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    background-color: cyan;
    animation-iteration-count: infinite;
}

.star-1 {
    top: 15px;
    left: 50%;
    animation-name: twinkle-1;
    animation-duration: 0.9s;
}

.star-2 {
    top: 15px;
    left: 25%;
    animation-name: twinkle-2;
    animation-duration: 1s;
}

.star-3 {
    top: 15px;
    left: 70%;
    animation-name: twinkle-3;
    animation-duration: 1.1s;
    background-color: black;
}

@keyframes twinkle-1 {
    50% {
        transform: scale(1.2);
    }
}

@keyframes twinkle-2 {
    20% {
        transform: scale(1.2);
    }
}

@keyframes twinkle-3 {
    20% {
        transform: scale(1.2);
    }
}