body {
    font-family: monospace;
    background-color: tomato;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-45deg);
}

.heart::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    position: absolute;
    left: 0;
    top: -50px;
    border-radius: 50%;
}