body {
    font-family: sans-serif;
}

p {
    background: lightblue;
    height: 100px;
}

.pixels {
    width: 100px;
}

.ems {
    width: 20em;
}

.percent {
    width: 60%;
}

.max-content {
    width: max-content;
}

.min-content {
    width: min-content;
}

.fit-content {
    width: fit-content;
}

.auto {
    width: auto;
}