body {
    font-family: sans-serif;
    background-color: black;
    color: blanchedalmond;
}

header, main {
    margin: auto;
    max-width: 768px;
}

audio {
    padding: 20px;
    border: 5px solid yellowgreen;
}