body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: silver;
}

li {
    list-style: none;
}

figure {
    margin: auto;
    max-width: fit-content;
    border: 3px solid rgb(121, 7, 121);
    padding: 5px;
}