body {
    text-align: justify;
    background-color: black;
    color: #ffffff;
    font-family: monospace;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

main {
    max-width: 768px;
    margin: auto;
}