body {
    font-family: monospace;
    text-align: center;
}

button {
    padding: 20px;
    color:  #ffffff;
    background-color: #ad2a1a;
}

header {
    margin-top: 200px;
}

h1 {
    font-size: 40px;
    color: #ad2a1a;;
}