body {
    font-family: monospace;
}

table, th, td {
    border: 1px solid black;
    /* border-collapse: collapse; */
}

.sr-only {
    position: absolute;
    left: -10000px; /*push it away from browser window*/
    top: auto; 
    height: 1px;
    width: 1px;
    overflow: hidden;
}