body {
    background-color: lavender;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

/*
max-width: 100% - scales the image to fit the width of it's container, but the image
will not stretch wider than its original width
display: block - changes the image from an inline element to a block element on its own line
height: auto - keeps the original aspect ratio of the image
*/