body {
    background-color: lavender;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}