body {
    font-family: monospace;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.box {
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.yellow-box {
    background-color: yellow;
}

.injected-text {
    margin-bottom: 25px;
}

.red-box {
    background-color: red;
    margin: 10px;
    padding: 20px;
}

.blue-box {
    background-color: blue;
    margin: 10px;
    padding: 20px;
}