body {
    font-family: monospace;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.box {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.yellow-box {
    background-color: yellow; 
    border: 20px solid yellow;
}

.red-box {
    background-color: red;
    margin: 10px;
    padding: 20px;
}

.blue-box {
    background-color: blue;
    margin: 20px;
    padding: 20px;
}

.green-box {
    background-color: green;
    color: white;
    padding: 20px;
    margin: -10px;
}