.container  {
    font: 25px serif;
    width: 100%;
    height: 80%;
    background-color: silver;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.container div {
    background-color: skyblue;
}