.container {
    background-color: lightgray;
    font: 40px monospace;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: repeat(10, 1fr); */
    grid-gap: 10px;
}

.container div {
    background-color: purple;
    border-radius: 10px;
}