.container {
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 1fr auto 10% 50px 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-gap: 20px 30px;
}

.d1 {
    background:LightSkyBlue;
}

.d2 {
    background:LightSalmon;
}

.d3 {
    background:PaleTurquoise;
}

.d4 {
    background:LightPink;
}

.d5 {
    background:PaleGreen;
}