.container {
    font-size: 50px;
    width: 100%;
    height: 300px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 15px;
    justify-items: stretch;
    align-items: end;
}

.item1 {
    background-color: cyan;
    grid-column: 1/3;
}

.item2 {
    background-color: magenta;
}

.item3 {
    background-color: teal;
}

.item4 {
    background-color: orange;
}

.item5 {
    background-color: maroon;
}