.container {
    font: 40px monospace;
    width: 100%;
    min-height: 300px;
    background-color: gray;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-gap: 15px 20px;
    grid-template-areas: 
    "header header header"
    ". content content"
    "footer footer footer";
}

.one {
    background-color: indianred;
    grid-area: content;
}

.two {
    background-color: indigo;
    grid-area: header;
}

.three {
    background-color: khaki;
}

.four {
    background-color: lawngreen;
}

.five {
    background-color: lightseagreen;
    grid-area: footer;
}

.six {
    background-color: orangered;
    grid-area: 4/1/5/4;
}